<head>
    <title>Sedoc</title>
</head>
<body>
Przetwarzaj zdjęcia o numerach
<form action="/results" method="get">
    Od: <input type="text" name="from">
    Do: <input type="text" name="to">
    <input type="submit" value="przetwórz">
</form>
</body>